<%- include('../partials/adminPartial.ejs') %>
<div class="container-fluid">
  <div class="row flex-nowrap">
    <div
      class="col-auto col-md-3 col-xl-2 px-sm-2 px-0"
      style="background-color: #484c4c"
    >
      <div
        class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
      >
        <a
          href="/"
          class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none"
        >
          <span class="fs-5 d-none d-sm-inline text-white">Admin</span>
        </a>
        <ul
          class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
          id="menu"
        >
          <li class="nav-item">
            <a href="/admin/adminhome" class="nav-link align-middle px-0">
              <img
                src="/admin/images/dashboard.svg"
                alt=""
                style="width: 1rem"
              /><span class="ms-1 d-none d-sm-inline text-white"
                >Dashboard</span
              >
            </a>
          </li>
          <li>
            <a
              href="/admin/orders"
              data-bs-toggle="collapse"
              class="nav-link px-0 align-middle"
            >
              <img src="/admin/images/orders.svg" alt="" style="width: 1rem" />
              <span class="ms-1 d-none d-sm-inline text-white">Order</span>
            </a>
          </li>
          <li>
            <a
              href="/admin/salesReports"
              
              class="nav-link px-0 align-middle"
            >
              <img src="/admin/images/sales.svg" alt="" style="width: 1rem" />
              <span class="ms-1 d-none d-sm-inline text-white">Sales Report</span>
            </a>
          </li>
          <li>
            <a href="/admin/products" class="nav-link px-0 align-middle">
              <img
                src="/admin/images/products.svg"
                alt=""
                style="width: 1rem"
              /><span class="ms-1 d-none d-sm-inline text-white"
                >Products</span
              ></a
            >
          </li>
          <li>
            <a href="/admin/addProducts" class="nav-link px-0 align-middle">
              <img
                src="/admin/images/add products.svg"
                alt=""
                style="width: 1rem"
              />
              <span class="ms-1 d-none d-sm-inline text-white"
                >Add Products</span
              ></a
            >
          </li>
          <li>
            <a href="/admin/Categories" class="nav-link px-0 align-middle">
              <img
                src="/admin/images/category.svg"
                alt=""
                style="width: 1rem"
              />
              <span class="ms-1 d-none d-sm-inline text-white"
                >Categories</span
              ></a
            >
          </li>
          <li>
            <a href="/admin/coupons" class="nav-link px-0 align-middle">
              <img
                src="/admin/images/discount.svg"
                alt=""
                style="width: 1rem"
              />
              <span class="ms-1 d-none d-sm-inline text-white">Coupons</span></a
            >
          </li>
          <li>
            <a href="/admin/userDetails" class="nav-link px-0 align-middle">
              <img src="/admin/images/users.svg" alt="" style="width: 1rem" />
              <span class="ms-1 d-none d-sm-inline text-white">Users</span>
            </a>
          </li>
          <li>
            <a href="/admin/logout" class="nav-link px-0 align-middle">
              <img src="/admin/images/exit.svg" alt="" style="width: 1rem" />
              <span class="ms-1 d-none d-sm-inline text-white">Logout</span>
            </a>
          </li>
        </ul>
        <hr />
      </div>
    </div>
    <div class="col py-3">
      <section>
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
          <div class="container h-100">
            <div
              class="row d-flex justify-content-center align-items-center h-100"
            >
              <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                <div class="card" style="border-radius: 15px">
                  <div class="card-body p-5">
                    <h5 class="text-uppercase text-center mb-5">Add Product</h5>

                    <form
                      action="/admin/addproducts"
                      method="post"
                      enctype="multipart/form-data" onsubmit="return validateAddProduct(this);"
                    >
                      <div class="form-outline mb-4">
                        <label class="form-label" for="form3Example1cg"
                          >Product Name</label
                        >
                        <input
                          type="text"
                          id="product"
                          name="product"
                          class="form-control form-control-lg"
                        />
                        <p id="nameError" style="color: red"></p>
                      </div>

                      <div class="form-outline mb-4">
                        <label class="form-label" for="form3Example3cg"
                          >Price</label
                        >
                        <input
                          type="num"
                          id="price"
                          name="price"
                          class="form-control form-control-lg"
                        />
                        <p id="priceError" style="color: red"></p>
                      </div>

                      <div class="form-outline mb-4">
                        <label class="form-label" for="form3Example4cg"
                          >Category</label
                        >
                        <select
                          class="form-select"
                          id="category"
                          name="category"
                          aria-label="Default select example"
                        >
                          <% categories.forEach((category)=>{ %>
                          <option><%= category.category %></option>
                          <% }) %>
                        </select>
                      </div>

                      <div class="form-outline mb-4">
                        <label class="form-label" for="form3Example4cdg"
                          >Description</label
                        >
                        <input
                          type="text"
                          id="description"
                          name="description"
                          class="form-control form-control-lg"
                        />
                        <p id="descriptionError" style="color: red"></p>
                      </div>
                      <div class="form-outline mb-4">
                        <label class="form-label" for="form3Example4cdg"
                          >Stock</label
                        >
                        <input
                          type="num"
                          id="stock"
                          name="stock"
                          class="form-control form-control-lg"
                        />
                        <p id="stockError" style="color: red"></p>
                      </div>
                      <!-- <div class="form-outline mb-4">
                        <label class="form-label" for="customFile"
                          >Choose image</label
                        >
                        <input
                          type="file"
                          id="image"
                          name="image"
                          class="form-control"
                          required
                        />
                      </div> -->
                      <main class="page">
                        <!-- input file -->
                        <div class="box">
                          <input type="file" id="file-input" name="image" />
                        </div>
                        <!-- leftbox -->
                        <div class="box-2">
                          <div  class="result"></div>
                        </div>
                        <!--rightbox-->
                        <div class="box-2 img-result hide">
                          <!-- result of crop -->
                          <img  class="cropped" src="" alt=""/>
                        </div>
                        <!-- input file -->
                        <div class="box">
                          <div class="options hide">
                            <label> Width</label>
                            <input
                              type="num"
                              class="img-w"
                              value="300"
                              min="100"
                              max="1200"
                            />
                          </div>
                          <!-- save btn -->
                          <button class="btn save hide">Save</button>
                          
                        </div>
                         <p id="fileError" style="color: red"></p>
                      </main>

                      <div class="d-flex justify-content-center">
                        <button
                          type="submit"
                          value="submit"
                          class="btn text-white"
                          style="background-color: #57423f"
                        >
                          Add Product
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<style>
 
</style>

<script>
  let result = document.querySelector(".result"),
    img_result = document.querySelector(".img-result"),
    img_w = document.querySelector(".img-w"),
    img_h = document.querySelector(".img-h"),
    options = document.querySelector(".options"),
    save = document.querySelector(".save"),
    cropped = document.querySelector(".cropped"),
    dwn = document.querySelector(".download"),
    upload = document.querySelector("#file-input"),
    newImage = document.getElementById("file-input");
    cropper = "";

  // on change show image with crop options
  upload.addEventListener("change", (e) => {
    if (e.target.files.length) {
      // start file reader
      const reader = new FileReader();
      reader.onload = (e) => {
        if (e.target.result) {
          // create new image
          var img = document.createElement("img");
          img.id = "image";
          img.src = e.target.result;
          
          // clean result before
          result.innerHTML = "";
          // append new image
          result.appendChild(img);
          
          // show save btn and options
          save.classList.remove("hide");
          options.classList.remove("hide");
          // init cropper
          cropper = new Cropper(img);
        }
      };
      reader.readAsDataURL(e.target.files[0]);
    }
  });

  // save on click
  save.addEventListener("click", (e) => {
    e.preventDefault();
    // get result to data uri
    let imgSrc = cropper
      .getCroppedCanvas({
        width: img_w.value, // input value
      })
      .toDataURL();
    // remove hide class of img
    cropped.classList.remove("hide");
    img_result.classList.remove("hide");
    // show image cropped
    cropped.src = imgSrc;
    dwn.classList.remove("hide");
    dwn.download = "imagename.png";
    dwn.setAttribute("href", imgSrc);
  });
</script>
