<%- include('../partials/adminPartial.ejs') %>
<section class="bg-light">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="px-5 ms-xl-4">
        <i class="me-3 pt-5 mt-xl-4" style="color: #709085"></i>
        <span class="h1 fw-bold mb-0" style="color: #57423f">Admin</span>
      </div>
    </nav>
  </div>
</section>
<section>
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="col-md-12 col-lg-4">
        <img
          src="/user/images/Chocolat Cafe Simple Design.png"
          class="img-fluid"
          alt="Phone image"
        />
      </div>
      <div class="col-md-12 col-lg-4 offset-xl-1 mt-5">
        <form action="/admin/adminLogin" method="post">
          <div class="form-outline mb-4">
            <input
              type="email"
              name="email"
              id="form1Example13"
              class="form-control form-control-lg"
            />
            <label class="form-label" for="form1Example13">Email address</label>
          </div>
          <div class="form-outline mb-4">
            <input
              type="password"
              name="password"
              id="form1Example23"
              class="form-control form-control-lg"
            />
            <label class="form-label" for="form1Example23">Password</label>
          </div>
          <button
            type="submit"
            value="login"
            class="btn btn-lg btn-block"
            style="background-color: #57423f; color: #fff"
          >
            Log in
          </button>

          <% if(locals.err_message){%>
          <div>
            <p class="text-danger"><%=err_message%></p>
          </div>
          <%}%>
        </form>
      </div>
    </div>
  </div>
</section>
