<div class="wrapper d-flex align-items-stretch ">
        <nav id="sidebar"  class=" bg-primary vh-100  text-center ">
            
            <div class="p-4 ">
              
        <ul class="list-unstyled components mt-5" >
          <li class="active  " >
            <a href="#" class="text-white "><span class="fa fa-home mr-3"></span> Dashboard</a>
            <hr>
          </li>
          <li>
              <a href="#" class="text-white"><span class="fa fa-user mr-3"></span> Orders</a>
              <hr>
          </li>
          <li>
          <a href="#" class="text-white" ><span class="fa fa-briefcase mr-3"></span> products</a>
          <hr>
          </li>
          <li>
          <a href="#" class="text-white"><span class="fa fa-sticky-note mr-3"></span> Add Product</a>
          <hr>
          </li>
          <li>
          <a href="#" class="text-white"><span class="fa fa-suitcase mr-3"></span> Users</a>
          <hr>
          </li>
          
          <li>
          <a href="/admin/adminlogout" class="text-white"><span class="fa fa-paper-plane mr-3"></span> Logout</a>
          <hr>
          </li>
        </ul>