<footer
  class="text-center text-lg-start text-muted mt-4"
  style="background-color: black"
>
  <div class="container p-4 pb-0">
    <section class="">
      <div class="row">
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Contact Us</h6>
          <p>
            +91 9999999999 <br />
            Vytilla, Ernakulam, cochin 673027 chocolatecafe112@gmail.com
          </p>
        </div>

        <hr class="w-100 clearfix d-md-none" />

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">MY Account</h6>
          <p>
            <a class="text-muted" style="text-decoration: none">My Account</a>
          </p>
          <p>
            <a class="text-muted" style="text-decoration: none">wishlist</a>
          </p>
          <p>
            <a class="text-muted" style="text-decoration: none"
              >Order History</a
            >
          </p>
          <p>
            <a class="text-muted" style="text-decoration: none">Track Order</a>
          </p>
        </div>

        <hr class="w-100 clearfix d-md-none" />

        <hr class="w-100 clearfix d-md-none" />

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Categories</h6>
          <p>
            <a class="text-muted" style="text-decoration: none">Chocolate</a>
          </p>
          <p>
            <a class="text-muted" style="text-decoration: none">Bakes</a>
          </p>
          <p>
            <a class="text-muted" style="text-decoration: none">Caramel</a>
          </p>
          <p>
            <a class="text-muted" style="text-decoration: none">Driks</a>
          </p>
        </div>

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Follow us</h6>

          <a class="btn btn-primary btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-facebook-f"></i
          ></a>

          <a
            class="btn btn-primary btn-floating m-1"
            style="background-color: #55acee"
            href="#!"
            role="button"
            ><i class="fab fa-whatsapp"></i
          ></a>

          <a
            class="btn btn-primary btn-floating m-1"
            style="background-color: #ac2bac"
            href="#!"
            role="button"
            ><i class="fab fa-instagram"></i
          ></a>
        </div>
      </div>
    </section>
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2025 Copyright: <br />
    <a class="text-muted" style="text-decoration: none" href="">
      All Rights Reserved Terms and conditions Privacy Policy Shipping & Payment
      Info Report abuse</a
    >
  </div>
</footer>
