<%- include('../partials/userPartial.ejs') %>
    <div style="background-color: #e5e4e0;">
        <div class="container py-5">
            <div class="row h-100 align-items-center py-5">
                <div class="col-lg-6">
                    <h1 class="display-4">About us page</h1>
                    <p class="lead text-muted mb-0">
                        We want to people you with a great experience which is why we want to hear from you. Your
                        feedback helps us bring you more
                        of the events you love and the service you expect. We always appreciate a good nail art
                        tutorial-and this one by polish
                        professional Madeline poole dies not disappoint! Her instructions are clear and the results are
                        clean and creative. Not to mention,
                        this fabulous manicure is the perfect accessory to show off this weekend!.
                    </p>
                </div>
                <div class="col-lg-6 d-none d-lg-block">
                    <img src="/user/images/about-hero1.jpg" alt="" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>

    <div class="bg-white py-5">
        <div class="container py-5">
            <div class="row align-items-center mb-5">
                <div class="col-lg-6 order-2 order-lg-1">
                    <i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
                    <h2 class="font-weight-light">Contact Us</h2>
                    <p class="font-italic text-muted mb-4">
                        +91 9999999999
                        Vytilla,<br> Ernakulam,<br> cochin 673027 <br> chocolatecafe112@gmail.com
                    </p>
                </div>
                <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2">
                    <img src="https://bootstrapious.com/i/snippets/sn-about/img-1.jpg" alt=""
                        class="img-fluid mb-4 mb-lg-0" />
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="bg-light py-5">
  <div class="container py-5">
    <div class="row mb-4">
      <div class="col-lg-5">
        <h2 class="display-4 font-weight-light">Our team</h2>
        <p class="font-italic text-muted">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
      </div>
    </div>

    <div class="row text-center">
      
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
          <img
            src="https://bootstrapious.com/i/snippets/sn-about/avatar-4.png"
            alt=""
            width="100"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
          />
          <h5 class="mb-0">Manuella Nevoresky</h5>
          <span class="small text-uppercase text-muted">CEO - Founder</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item">
              <a href="#" class="social-link"
                ><i class="fa fa-facebook-f"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"
                ><i class="fa fa-instagram"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
     

      
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
          <img
            src="https://bootstrapious.com/i/snippets/sn-about/avatar-3.png"
            alt=""
            width="100"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
          />
          <h5 class="mb-0">Samuel Hardy</h5>
          <span class="small text-uppercase text-muted">CEO - Founder</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item">
              <a href="#" class="social-link"
                ><i class="fa fa-facebook-f"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"
                ><i class="fa fa-instagram"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
      

      
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
          <img
            src="https://bootstrapious.com/i/snippets/sn-about/avatar-2.png"
            alt=""
            width="100"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
          />
          <h5 class="mb-0">Tom Sunderland</h5>
          <span class="small text-uppercase text-muted">CEO - Founder</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item">
              <a href="#" class="social-link"
                ><i class="fa fa-facebook-f"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"
                ><i class="fa fa-instagram"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <!-- End-->
    </div>
    </div>
    </div> -->
    <%- include('../partials/user-footer.ejs') %>
        <style>
            .social-link {
                width: 30px;
                height: 30px;
                border: 1px solid #ddd;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #666;
                border-radius: 50%;
                transition: all 0.3s;
                font-size: 0.9rem;
            }

            .social-link:hover,
            .social-link:focus {
                background: #ddd;
                text-decoration: none;
                color: #555;
            }
        </style>