<%- include('../partials/userPartial.ejs') %>
<div class="container">
  <section>
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 15px">
              <div class="card-body p-5">
                <h5 class="text-uppercase text-center mb-5">Change Password</h5>

                <form action="/newPassword" method="post">
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example1cg"
                      >Current Password</label
                    >
                    <input
                      type="password"
                      id="password"
                      name="password"
                      class="form-control form-control-lg"
                    />
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example3cg"
                      >New Password</label
                    >
                    <input
                      type="password"
                      id="newPassword"
                      name="newPassword"
                      class="form-control form-control-lg"
                    />
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example4cg"
                      >Repeat Password</label
                    >
                    <input
                      type="password"
                      id="repeatPassword"
                      name="repeatPassword"
                      class="form-control form-control-lg"
                    />
                    <% if(locals.err_message){%>
                    <p class="text-danger"><%=err_message%></p>
                    <%}%>
                  </div>
                  <div class="d-flex justify-content-center">
                    <button
                      type="submit"
                      value="submit"
                      class="btn text-white"
                      style="background-color: #57423f"
                    >
                      Submit
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<%- include('../partials/user-footer.ejs') %>
