<%- include('../partials/userPartial.ejs') %>
<center>
  <h1 style="color: red">Order success</h1>
  <img src="/user/images/success.png" alt="" style="width: 300px" /><br />
  <p>
    We received your order request;<br />
    we'll be in touch shortly!
  </p>
  <a
    class="btn btn-succes"
    href="/userhome"
    style="margin-top: 17px; color: green; border: solid green"
    >SHOP NOW</a
  >
  <a
    class="btn btn-succes"
    href="/orderDetails"
    style="margin-top: 17px; color: green; border: solid green"
    >VIEW ORDER</a
  >
</center>
<%- include('../partials/user-footer.ejs') %>
