<%- include('../partials/userPartial.ejs') %>



          <center class="col-xl-12 col-md-6 col-sm-4">
  <h1 style="color: red">Payment Failed</h1>
  <img
    class="image-fluid col-xl-12 col-md-6 col-sm-4 mt-5"
    src="/user/images/payment fail.svg"
    alt=""
    style="width: 14rem"
  /><br />
  <a
    class="btn btn-succes"
    href="/orderDetails"
    style="margin-top: 40px; color: green; border: solid green"
    >Order Details</a
  >
</center>
<%- include('../partials/user-footer.ejs') %>